@model List<OOS.GHR.Trainning.Models.TrainningCourseInfoModel>
@using OOS.GHR.Framework.DynamicUI;
@foreach (OOS.GHR.Trainning.Models.TrainningCourseInfoModel CI in Model)
{
    <div style="max-width:800px;">
        <div style="font-size:16px; font-weight:600; color:darkolivegreen"><i class="fa fa-arrow-circle-right"></i> @CI.Name.ToUpper()</div>
        <div style="padding:10px 20px 10px;">
            <table class="table table-bordered table-striped">
                <tr>
                    <th width="50%" class="td_content">
                        <span>@T("Thông tin đợt đào tạo")</span>
                    </th>
                    <th style="border-left:gainsboro 1px solid" class="td_content">
                        <span>@T("Nội dung đào tạo / Giáo trình")</span>
                    </th>
                </tr>
                <tr>
                    <td class="td_content">
                        <div style="display:inline-flex; padding-bottom:10px;">
                            @Html.OOSSystemImage(IconID.SchedulingCalendar32x32)
                            <div style="padding-left:5px;">
                                <span style="font-weight:600;">@T("Thời gian:").Text</span> <span>@CI.NgayBatDau.ToShortDateString() - @CI.NgayBatDau.ToShortDateString()</span>
                                <br />
                                <span style="font-weight:600; padding-top:5px;">@T("Ngày đăng ký tham gia:")</span> <span>@CI.NgayDangKy.ToShortDateString()</span>
                            </div>
                        </div>
                        <span style="float:right">@Html.Raw(OOS.GHR.Framework.UI.HTMLFormat.TrangThaiXetDuyet(CI.XetDuyet))</span>
                        @if (CI.Status_Student >= 3 && CI.Status_Student <= 6 && CI.Status>=1 && CI.Status<=5)
                        {
                            <div>@Html.OOSSystemImage("filterelements_checkbuttons_32x32")    
                                <span style="font-weight:600;">@T("ĐÁNH GIÁ KHÓA ĐÀO TẠO")</span>
                            </div>
                            <div style="padding-left:30px; padding-top:10px;">
                                @Html.DevExpress().ComboBox(st=>
                           {
                               st.Name = "cbKhoaDaoTao"+CI.ID;
                               st.Properties.TextField = "Ten";
                               st.Properties.ValueField = "ID";
                               st.Properties.ValueType = typeof(int);
                               st.Properties.NullText = T("Chọn nội dung đào tạo để đánh giá").Text;
                               st.Width = Unit.Percentage(100);
                               st.Properties.ClientSideEvents.SelectedIndexChanged = "function (s,e) { LoadEvaluation(" + CI.ID + ", s.GetValue(), 0); }";
                           }).BindList(OOS.GHR.Trainning.Models.TrainningCourseInfoModel.CourseContentList(CI.ID)).GetHtml()
                                <div id="evaluationForm@(CI.ID)" style="padding-top:5px"></div>
                            </div>
                        }
                    </td>
                    <td style="border-left:gainsboro 1px solid" class="td_content">
                        @if (CI.XetDuyet == 1)
                        {
                            foreach (OOS.GHR.Trainning.Models.TrainningContentInfoModel Content in CI.NoiDungDaoTao)
                            {
                                <div style="font-weight:600; padding-bottom:10px;">
                                    @Html.OOSSystemImage(IconID.ContentNotes32x32).ToHtmlString() @Content.TenNoiDung
                                </div>
                                @Html.Partial("UserControl/FileStoreViewer", "NS_TRAINNING_COURSE_CONTENT|" + Content.ID, new ViewDataDictionary { { "Edit", "0" } })

                                if (Content.GiaoTrinhTaiLieu != "")
                                {
                                    <div style="padding-top:10px;">
                                        @Html.Raw(Content.GiaoTrinhTaiLieu)
                                    </div>
                                }
                                if (Content.ThiTracNghiem)
                                {
                                    if ((Content.TracNghiem_KetThuc != null && Content.TracNghiem_BatDau != null && DateTime.Now >= Content.TracNghiem_BatDau && DateTime.Now <= Content.TracNghiem_KetThuc) ||
                                        Content.TracNghiem_KetThuc == null || Content.TracNghiem_BatDau == null)
                                    {
                                        <div style="padding-top:10px;">
                                            <button type="button" onclick="ExamOnlinePopup(@Content.ID, @CI.ID);" class="btn blue-steel btn-sm pull-left">
                                                <i class="fa fa-check-circle"></i> @(Content.ButtonText)
                                            </button>
                                        </div>
                                    }
                                }
                            }
                        }
                    </td>
                </tr>
            </table>
        </div>
    </div>
}