@model OOS.GHR.HRIS.Models.MissionInfo

<style type="text/css">
    .NghiPhep_Item_Style {
        padding-bottom: 5px;
    }
</style>
<script type="text/javascript">

    var ctacid = 0;

    function ShowNewItemDialog(id) {
        var url = '@Url.Action("SS_CT_Info", "QTCongTac", new { Area = "HRIS"})';
        $('#ctInfo').modal('show').find('.modal-body').load(url + '?NhanVienID=' + NhanVienID + '&QTCongTacID=' + id);
    }
    function Delete(id) {
        ctacid = id;
        OOSDialog.ShowPopupMessageQ('@T("Bạn có chắc chắn muốn hủy ?").Text');
    }
    function OnPopupQ_DongY() {
        OOSDialog.ClosePopupMessage();

        var url = '@Url.Action("DeleteMission", "Home", new { Area = "SelfService"})';
        var params = { id: ctacid };

        OOSCore.Call_Ajax_Function_POST(url, params, function (res) {
            showSuccessMessage('@T("Xóa thành công !").Text');
            window.setTimeout(function () {
                LoadModule('CT');
            }, 500);
        });
    }


    var ciID = 0;
    function CancelRegistration(id) {
        ciID = id;
        val_frmLyDoTuChoi.SetText('');
        frmLyDoTuChoi.Show();
    }
    function frmLyDoTuChoi_Submit() {
        var lydo = val_frmLyDoTuChoi.GetText();
        if (lydo == '') {
            showErrorMessage('@T("Bạn phải nhập lý do hủy đăng ký !").Text');
            return;
        }
        var url = '@Url.Action("DeleteMission", "Home", new { Area = "SelfService"})';
        var params = { id: ciID, LyDo: lydo };

        OOSCore.Call_Ajax_Function_POST(url, params, function (res) {
            showSuccessMessage(res.mess);
            window.setTimeout(function () {
                LoadModule('CT');
            }, 500);
        });
    }


    $(document).ready(function () {
        $('#btnTuChoi').on('click', function (e) {
            e.preventDefault();
            $('#ctInfo').modal('hide');
        });

        $('#btnDangKy').on('click', function (e) {
            e.preventDefault();
            if (LyDoCongTacID.GetValue()<=0) {
                showErrorMessage('@T("Bạn phải nhập lý do Công tác !").Text');
                return;
            }
            if ($("#CongViecCuThe").val() == '') {
                showErrorMessage('@T("Bạn phải nhập công việc cụ thể !").Text');
                return;
            }
            var form = $("#frmDangKyCongTac");
            OOSDialog.ShowLoadingPanelText('Saving...');
            $.ajax({
                type: "POST",
                cache: false,
                url: '@Url.Action("SS_ApplyData", "QTCongTac", new { Area = "HRIS" })',
                data: form.serialize(),
                dataType: "json",
                success: function (data) {
                    OOSDialog.HideLoadingPanel();
                    if (data.errtype != -1) {
                        e.preventDefault();
                        $('#ctInfo').modal('hide');
                        showSuccessMessage(data.mess);
                        OOSDialog.ShowLoadingPanel();
                        window.setTimeout(function () {
                            LoadModule('CT');
                        }, 500);
                    }
                    else {
                        showErrorMessage(data.mess);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    showErrorMessage("@T("Lỗi khi đăng ký công tác !")");
                }
            });
        });
    })
</script>
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption caption-md">
            <i class="fa fa-plane" style="font-size:20px"></i>
            <span class="caption-subject font-blue-madison bold uppercase">@T("ĐĂNG KÝ ĐI CÔNG TÁC")</span>
        </div>
        <div style="float:right; padding-top:5px">
        </div>
    </div>
    <div class="portlet-body">
        <button type="button" id="btThemMoi" onclick="ShowNewItemDialog();" class="btn blue-steel"><i class='fa fa-file-o'></i> @T("Đăng ký Công tác")</button>
        <h3>@T("Danh sách đi công tác trong năm")</h3>
        <div class="OOSScroller" style="height: @(OOS.GHR.Core.DisplayInfo.ScreenHeight-270)px; width: auto;">
            <table class="table table-striped table-bordered table-advance table-hover">
                <thead>
                    <tr>
                        <th align="center">@T("Ngày / Lý do")</th>
                        <th align="center">@T("Thông tin chi tiết")</th>
                        <th align="center">@T("Công việc cụ thể")</th>
                        <th align="center">@T("Người duyệt (Chờ)")</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int Index = 0; Index < Model.List.RowCount; Index++)
                    {
                        int XetDuyet = Model.List.GetInt("XetDuyet", Index);
                        int ID = Model.List.GetInt("QTCongTacID", Index);
                        <tr>
                            <td width="150px">
                                <div style="text-align:center">
                                    <div class="timeline-body-title font-blue-madison">
                                        <a href="javascript: OOSDialog.PrintForms(@ID,'HSNS_QTCT',0)">@Model.List.GetProfileInfo("LyDo", Index)</a>
                                    </div>
                                    <div class="timeline-body-time font-grey-cascade">@Model.List.GetProfileInfo("NgayBatDau", Index)</div>
                                </div>
                            </td>
                            <td>
                                <div class="NghiPhep_Item_Style">@T("Từ ngày").Text : @Model.List.GetProfileInfo("NgayBatDau", Index, "dd/MM/yyyy HH:mm") - Tới ngày: @Model.List.GetProfileInfo("NgayKetThuc", Index, "dd/MM/yyyy HH:mm")</div>
                                <div class="NghiPhep_Item_Style">@T("Nơi công tác").Text : @Model.List.GetProfileInfo("NoiCongTac", Index)</div>
                                <div class="NghiPhep_Item_Style">
                                    @Html.Raw(OOS.GHR.Master.Models.DataTableSource.GetHTMLStatus(XetDuyet))
                                    @if (XetDuyet == 0)
                                    {
                                        <div style="float:right">
                                            <button onclick="ShowNewItemDialog(@ID);" class="btn blue btn-sm"><i class="fa fa-edit"></i> @T("Sửa")</button>
                                            <button onclick="Delete(@ID);" class="btn red btn-sm"><i class="fa fa-times"></i> @T("Xóa")</button>
                                        </div>
                                    }
                                    else
                                    {
                                        if (XetDuyet == 1 && Model.PheDuyetHuy)
                                        {
                                            <div style="float:right">
                                                <button onclick="CancelRegistration(@ID);" class="btn red btn-sm"><i class="fa fa-times"></i> @T("Hủy đăng ký")</button>
                                            </div>
                                        }
                                    }
                                </div>
                            </td>
                            <td>
                                <div style="text-align:center">
                                    <div class="NghiPhep_Item_Style">@Model.List.GetProfileInfo("CongViecCuThe", Index)</div>
                                </div>
                            </td>
                            <td>
                                <div style="text-align:center">
                                    <div class="timeline-body-title font-blue-madison">@Model.List.GetProfileInfo("YKienPheDuyet", Index)</div>
                                    <div class="timeline-body-title font-blue-madison">@Model.List.GetProfileInfo("NguoiDangChoDuyet", Index)</div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="ctInfo" class="modal fade draggable-modal ui-draggable">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn default" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@T("Đăng ký Công tác")</h4>
            </div>
            <div class="modal-body">
                <p>Loading...</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger pull-left" id="btnTuChoi"><i class="fa fa-times"></i> @T("Bỏ qua")</button>
                <button class="btn btn-success" id="btnDangKy"><i class="fa fa-check-circle"></i> @T("Đăng ký")</button>
            </div>
        </div>
    </div>
</div>
@Html.Partial("UserForm\\XForm", OOS.GHR.Master.Models.XFormModel.InputStringModel(T("Lý do hủy đăng ký:").Text, "frmLyDoTuChoi"))