@model OOS.GHR.Library.NS_News_Article
<style>
    .page-breadcrumb {
        display: inline-block;
        float: left;
        padding: 8px;
        margin: 0;
        list-style: none;
    }
    .page-breadcrumb > li {
        display: inline-block;
    }
</style>
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption caption-md" style="padding-left:10px">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="@Url.Action("Index","Home", new { Area = "SelfService" })">@T("Trang Chủ")</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#">@T("Tin tin nội bộ")</a>
                </li>
            </ul>
        </div>
        <div style="float:right; padding-top:5px"></div>
    </div>
    <div class="portlet-body" style="padding:0px 20px 0px 20px !important">
        <div class="feed_box_date">@Model.CreatedDate.Value.ToShortDateString() - @Model.CreatedDate.Value.ToShortTimeString()</div>
        <h3 class="title" style="margin:10px 0px 0px; font-weight:600;">@Model.Title</h3>
        <div class="newsContent">
            <p style="font-weight:bold;margin-top:10px">@Html.Raw(HttpUtility.HtmlDecode(Model.Description))</p>
            @Html.Raw(HttpUtility.HtmlDecode(Model.ArticleContent))
            <div class="row">
                <div class="pull-right" style="font-weight:bold;color:#000000">@Model.Author</div>
            </div>
            <div style="padding:5px;">
                @Html.Partial("UserControl/FileStoreViewer", "NS_NEWS_ARTICLE|" + Model.ArticleId.ToString())
            </div>
        </div>
    </div>
</div>
