@model OOS.GHR.Models.ChangePasswordModel
<style type="text/css">
    html, body {
        background-color: #E5E5E5 !important;
    }
</style>
<script>
    var minPwdLength = 7;
    var strongPwdLength = 20;

    function UpdateIndicator() {
        var strength = GetPasswordStrength(ConfirmPassword.GetText());
        document.getElementById('btSubmit').disabled = true;
        var className;
        var message;
        if (strength == -1) {
            className = 'pwdBlankBar';
            message = "Mật khẩu trống";
        } else if (strength == 0) {
            className = 'pwdBlankBar';
            message = "Mật khẩu quá ngắn (tối thiểu 7 ký tự) !";
        } else if (strength <= 0.2) {
            className = 'pwdWeakBar';
            message = "Mật khẩu chưa đủ mạnh (Phải có cả ký tự và số)";
        } else if (strength <= 0.6) {
            className = 'pwdFairBar';
            message = "Mật khẩu đủ phức tạp !";
            document.getElementById('btSubmit').disabled = false;
        } else {
            className = 'pwdStrengthBar';
            message = "Mật khẩu rất phức tạp !";
            document.getElementById('btSubmit').disabled = false;
        }
        if (NewPassword.GetValue() != ConfirmPassword.GetValue()) {
            document.getElementById('btSubmit').disabled = true;
            message = "Mật khẩu không giống nhau !";
        }
        $("#lbMessagePassword").html(message);
    }
    function GetPasswordStrength(password) {
        if (password.length == 0) return -1;
        var rate = 0;
        if (password.length >= strongPwdLength) {
            rate++;
        }
        else {
            if (password.length < minPwdLength) {
                return 0;
            }
        }
        if (password.match(/[0-9]/)) rate++;
        if (password.match(/[a-z]/)) rate++;
        if (password.match(/[A-Z]/)) rate++;
        if (password.match(/[!,@@,#,$,%,^,&,*,?,_,~,\-,(,),\s,\[,\],+,=,\,,<,>,:,;]/)) rate++;
        return rate / 5;
    }
    function messChangedPass(data) {
        if (data.mess == "Succeeded") {
            showSuccessMessage('@T("Bạn đã đổi mật khẩu thành công !").Text');
            window.location.href = '@Url.Action("LogOff","Account", new { Area = "" })';
        }
        else {
            OOSDialog.ShowPopupMessage(data.mess);
        }
    }
</script>

<table width="100%" style="background-color:#E5E5E5; margin-top:100px;">
    <tr>
        <td align="center">
            @using (Ajax.BeginForm("ChangedPass", "Account", new { area = "" }, new AjaxOptions { OnSuccess = "messChangedPass" }, new { id = "FormChangedPass" }))
            {
                @Html.AntiForgeryToken();
                <h3 style="font-weight:600;">Đổi mật khẩu</h3>
                <table>
                    <tr>
                        <td>
                            <span style="font-style:italic">Lưu ý: Mật khẩu độ dài tối thiểu 7 ký tự, bao gồm cả số và chữ !</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_content_right">
                            @Html.DevExpress().TextBoxFor(m => m.OldPassword, i =>
                        {
                            i.Properties.CaptionSettings.Position = EditorCaptionPosition.Top;
                            i.Properties.Caption = T("Mật khẩu cũ:").Text;
                            i.Width = Unit.Percentage(100);
                            i.Properties.Password = true;
                        }).GetHtml()
                        </td>
                    </tr>
                    <tr>
                        <td class="td_content_right">
                            @Html.DevExpress().TextBoxFor(m => m.NewPassword, i =>
                                                {
                                                    i.Properties.CaptionSettings.Position = EditorCaptionPosition.Top;
                                                    i.Properties.Caption = T("Mật khẩu mới:").Text;
                                                    i.Width = Unit.Percentage(100);
                                                    i.Properties.Password = true;
                                                }).GetHtml()
                        </td>
                    </tr>
                    <tr>
                        <td class="td_content_right_bottom">
                            @Html.DevExpress().TextBoxFor(m => m.ConfirmPassword, i =>
                        {
                            i.Properties.CaptionSettings.Position = EditorCaptionPosition.Top;
                            i.Properties.Caption = T("Nhập lại mật khẩu mới:").Text;
                            i.Width = Unit.Percentage(100);
                            i.Properties.Password = true;
                            i.Properties.ClientSideEvents.KeyUp = "function (s,e) { UpdateIndicator(); }";
                            i.Properties.ClientSideEvents.ValueChanged = "function (s,e) { UpdateIndicator(); }";
                        }).GetHtml()
                            <div style="color: green;padding: 5px 5px 5px 0px;" id="lbMessagePassword"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button id="btSubmit" disabled="true" class="btn blue" type="submit"><i class="far fa-save"></i> @T("Đổi mật khẩu").Text</button>
                        </td>
                    </tr>
                </table>
            }
        </td>
    </tr>
</table>